<div class="layout app-root">
    <p class="text-center title">{{question}}</p>
    <div class="chart-container">
        <canvas baseChart
                [datasets]="data"
                [labels]="labels"
                [options]="barChartOptions"
                [legend]="false"
                [colors]="colors"
                chartType="bar">
        </canvas>
    </div>
    <p class="text-center title">Total votes {{total}}</p>
</div>
