<form class="layout form-container" [formGroup]="form">
    <div class="form-group">
        <input [ngClass]="{'border-danger': !isQuestionValid}"
                                             formControlName="question"
                                             type="text"
                                             maxlength="80"
                                             class="form-control"
                                             placeholder="Enter question">
        <small *ngIf="!isQuestionValid"
               id="questionError" class="form-text text-danger">Field is required</small>
    </div>
    <div class="form-group">
        <div class="d-flex">
            <input formControlName="addOption"
                   [ngClass]="{'border-danger': isNotUnique}"
                   type="text"
                   maxlength="80"
                   class="form-control"
                   placeholder="Enter option">
            <button (click)="onAdd()" [disabled]="!isAddOptionValid" class="btn btn-primary ml-4">Add</button>
        </div>
        <small *ngIf="isNotUnique"
               id="addOptionError"
               class="form-text text-danger">Value provided must be unique</small>
    </div>
    <div formArrayName="options">
        <div class="form-group" *ngFor="let item of optionsForm; let i=index">
            <div class="d-flex">
                <input [ngClass]="{'border-danger': !item.value}"
                       class="form-control"
                       maxlength="80"
                       [formControlName]="i">
                <button *ngIf="showRemove" (click)="onRemove(i)" class="btn btn-primary ml-4 col-auto">Remove</button>
            </div>
            <small *ngIf="!item.value"
                   id="answerError"
                   class="form-text text-danger">Field cannot be empty</small>

        </div>
    </div>
    <div class="d-flex float-right">
        <p class="text-center title mr-2">{{this.form.value.options.length}}/10 possible answers</p>
        <button (click)="onReset()" class="btn btn-primary float-right align-bottom">Reset</button>
    </div>
</form>
