<form class="layout form-container" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <p *ngIf="question" class="text-center mb-2 title">{{question}}</p>
    <p *ngIf="!question" class="text-muted p-md-2 mb-2">Question...</p>
    <div class="form-group">
        <p *ngIf="!options.length" class="text-muted p-md-2 options-placeholder">Ans...</p>
        <div *ngFor="let q of options; let i=index" class="form-check">
            <input formControlName="answer"
                   [value]="q"
                   class="form-check-input"
                   type="radio">
            <label class="form-check-label">{{q}}</label>
        </div>
    </div>
    <button type="submit" [disabled]="!questionForm.valid" class="btn btn-primary float-right align-bottom">Vote</button>
</form>
