<div class="d-flex">
    <app-editor (questionEvent)="onQuestionChanged($event)"
                (optionsEvent)="onOptionsChanged($event)"
                (resetEvent)="onReset()"></app-editor>
    <app-question (voteEvent)="vote($event)"
                  [question]="question"
                  [options]="options"></app-question>
    <div>
        <app-chart [question]="question"
                   [data]="chartData"
                   [labels]="chartLabels"
                   [total]="service.nrOfVotes"
                   [colors]="chartColors"></app-chart>
    </div>
</div>
