/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}
.layout{
  padding: 2rem;
}

.form-container{
  width: 31.25rem;
}
.btn-primary{
  background-color: #8678ff;
  &:hover{
    background-color: #ac9fff;
  }
  &:active{
    background-color: #ac9fff;
  }
  &:focus{
    background-color: #ac9fff;
  }
  &:disabled{
    background-color: darkgrey;
  }
  border: #885AC0;
}
.btn-primary:not(:disabled):not(.disabled):active{
  background-color: #ac9fff;
}
.form-control {
  &:focus{
    border-color: #ac9fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(134, 120, 255, 0.43);
  }
}
.title{
  font-size: 20px;
}
